[submodule "verilog-pcie"]
	path = third-party/verilog-pcie
	url = ../nvme-verilog-pcie.git
[submodule "third-party/registers-generator"]
	path = third-party/registers-generator
	url = ../nvme-registers-generator.git
